.container {
    margin-top: 150px;
    margin-right: 0px;
}

.slideshow1 {
    overflow: hidden;
    white-space:nowrap;
    direction: rtl;
    width: 60%;
}

.slideshow2 {
    overflow: hidden;
    white-space:nowrap;
    direction: rtl;
    width: 50%;
    margin-right: 50px;
}

.image1, .image2 {
    display:inline-block;
    height: 200px;
    margin-bottom: 6px;
    margin-right: 6px;
    border-radius: 6px;
}

.textFrame {
    width: 25%;
    position: absolute;
    left: 63%;
    top: 110px;
}

.textTitle {
    color: #154A82;
    font-size: 28px;
    font-family: Verdana, Geneva, sans-serif;
}

.textArticle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: gray;
    line-height: 1.6;
}

#prev {
    position: absolute;
    outline: none;
    background-image: url("/assets/arrow-gray-left.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
    background-color: white;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 7px;
    padding: 35px 3.5%;
    left: 52%;
    top: 360px;
}

#prev:hover {
    background-image: url("/assets/arrow-blue-left.png");
    border-color: #154A82;
}

#next {
    position: absolute;
    outline: none;
    background-image: url("/assets/arrow-gray-right.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
    background-color: white;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 7px;
    padding: 35px 3.5%;
    left: 52%;
    top: 445px;
}

#next:hover {
    background-image: url("/assets/arrow-blue-right.png");
    border-color: #154A82;
}