.wrapper {
    margin: 10% auto;
    width: 960px;
}

.container {
    position: relative;
}

.slideshow1 {
    white-space:nowrap;
    direction: rtl;
    width: 55%;
    padding-left: 130px;
}

.slideshow2 {
    white-space:nowrap;
    direction: rtl;
    width: 55%;
}

.image1, .image2 {
    height: 200px;
    margin-bottom: 6px;
    margin-right: 6px;
    border-radius: 6px;
}

.textFrame {
    position: absolute;
    width: 30%;
    left: 70%;
    top: -40px;
}

.textTitle {
    color: #154A82;
    font-size: 28px;
    font-family: Verdana, Geneva, sans-serif;
}

.textArticle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: gray;
    line-height: 1.6;
}

#prev {
    position: absolute;
    outline: none;
    background-image: url("/assets/arrow-gray-left.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
    background-color: white;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 7px;
    padding: 35px;
    left: 60%;
    bottom: 135px;
    transition: 0.3s;
}

#prev:hover {
    background-image: url("/assets/arrow-blue-left.png");
    border-color: #154A82;
    transition: 0.3s;
}

#next {
    position: absolute;
    outline: none;
    background-image: url("/assets/arrow-gray-right.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
    background-color: white;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 7px;
    padding: 35px;
    left: 60%;
    bottom: 55px;
    transition: 0.3s;
}

#next:hover {
    background-image: url("/assets/arrow-blue-right.png");
    border-color: #154A82;
    transition: 0.3s;
}